
ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

img {
    display: block;
    width: 100%;
height: 300px;
border-radius: 12px 12px 0 0;
}

p {
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.gelery_items{
    flex-basis: calc((100% - 60px) / 3);
    border-radius: 22px;
    overflow: hidden;
    padding: 20px;
    outline:  1px solid grey;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 20px;
    background-color: rgba(18, 18, 16, 0.256);
    border-radius: 0 0 12px 12px;
}


.stats-item {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #fff;
}


.btn-load{
    color: white;
    padding: 12px 22px;
    border-radius: 12px;
    margin: 0 auto;
    display: block;
    background-color: rgba(18, 18, 16, 0.256);
    border: none;
    margin-top: 25px;
    margin-bottom: 50px;
}

input {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 400px;
    height: 50px;
    border-radius: 12px;
    padding-left: 20px;
    border: none;
    outline: 1px solid rgba(18, 18, 16, 0.256);
}